body {
    margin: 0;
    padding: 0;
    background-color: black;
    /* background-image: url("BEP Background.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
 .bg{
    filter: blur(4px);
    backface-visibility: initial;
}




/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Hero Section with Animation */
.hero-section {
    width: 100%;
    height: 100vh; /* Takes only the viewport height */
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: relative;
    /* background: url('BEP\ Background.png') no-repeat center center/cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.background image{
    position: fixed;
}

/* Overlay for darkening the image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Text container */
.text-container {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 25vh;
}

/* Animated text */
.animated-text {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    animation: textAnimation 3s ease-in-out ;
    padding-bottom: 800px;

    /* text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #000000; */
}

/* Text animation */
@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

/* Main Content */
.content {
    padding: 20px;
    
}

.content h2 {
    font-size: 2rem;
    color: #333;
}

.content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}
 

/* Default: Element is visible */
.element {
    display: block; /* or your desired display property */
}
.clients{
    
    display: block;
}
.client{
    
    display: none;
}

/* Hide on devices with a max-width of 768px (mobile devices) */
@media (max-width: 1022px) {
    .element {
        display: none;
    }
    .clients{
        
        display: none;
    }
    .client{
        
        display: block;
    }
}
